/**
* My Portfolio Contact
**/


body {
	font-size: 24px;
	font: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	margin: 0 auto 0 auto;
	padding: 20px;
	background-color: #cccccc;
}

.header {
	
	background-color: #ffffff;
	overflow: auto;
	width: 960px;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 15px;

}

.header h1 {
	font-size: 25px;
	color: black;
	display: inline-block;
	padding: 20px;
	background-color: #4aaaa5;
}

.nav {
	float: right;
	background-color: #ffffff;
	margin-bottom: 0;
	margin-right: 20px;
	color: #333;
	padding: 20px 0px 20px 0px;
}

.nav li {
	display: inline;
}

.container {
	/**background-color: #ffffff;**/
	width: 960px;
	margin-left: 480px;
	margin-top: 25px;
	margin: 0 auto;

	

}

.main-bio {
	
	width: 650px;
	height: 600px;
	background-color: white;
	overflow: hidden;
	float: left;

}

.contact h2 {
	/**font-size: 25px;
	padding-top: 15px;
	padding-left: 20px;**/
	font-size: 25px;
	color: #777777;
	display: inline-block;
	padding: 20px;
	
}

.name_box {
	width: 600px;
	height: 60px;
	background-color: white;
	overflow: hidden;
	float: left;
	padding-left: 20px;
}

.full_name {
	width: 575px;
	height: 30px;
	background-color: white;
	border: 1px solid #DCDCDC;
	overflow: hidden;
	float: left;
	padding-top: 5px;
}

.email_box {
	width: 600px;
	height: 60px;
	background-color: white;
	overflow: hidden;
	float: left;
	padding-left: 20px;
}

.email {
	width: 575px;
	height: 30px;
	background-color: white;
	border: 1px solid #DCDCDC;
	overflow: hidden;
	float: left;
	padding-top: 5px;
}

.msg_box {
	width: 600px;
	height: 300px;
	background-color: white;
	overflow: hidden;
	float: left;
	padding-left: 20px;
}

.msginput {
	width: 575px;
	height: 250px;
	background-color: white;
	border: 1px solid #DCDCDC;
	overflow: hidden;
	float: left;
	
}

.submit_box {
	width: 70px;
	height: 20px;
	background-color: #4aaaa5;
	overflow: hidden;
	float: left;
	padding: 10px;
	margin-left: 20px;

}



.links {
	width: 270px;
	height: 110px;
	/**margin: 0 0 0 45px;**/
	background-color: white;
	float: right;
}

.connect h3 {
	font-size: 15px;
	text-align: center;
	padding-top: 5px;

}

.icons {
	padding-top: 5px;
	margin-left: 0 auto;

}

.footer {
	
	position: fixed;
	text-align: center;
	bottom: 0;
	right: 0;
	left: 0;
	height: 50px;
	background-color: #666666;
	margin: 0 auto;
}	

.footer h1 {
	color: #f5f5f5;
	padding-top: 10px;
}