/**
* My Portfolio Contact
**/


body {
	font-size: 24px;
	font: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	margin: 0 auto 0 auto;
	padding: 20px;
	background-color: #cccccc;
}

.header {
	
	background-color: #ffffff;
	overflow: auto;
	width: 960px;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 15px;

}

.header h1 {
	font-size: 25px;
	color: black;
	display: inline-block;
	padding: 20px;
	background-color: #4aaaa5;
}

.nav {
	float: right;
	background-color: #ffffff;
	margin-bottom: 0;
	margin-right: 20px;
	color: #333;
	padding: 20px 0px 20px 0px;
}

.nav li {
	display: inline;
}

.container {
	/**background-color: #ffffff;**/
	width: 960px;
	margin-left: 480px;
	margin-top: 25px;
	margin: 0 auto;

	

}

.main-bio {
	
	width: 650px;
	height: 600px;
	background-color: white;
	overflow: hidden;
	float: left;

}

.portfolio h2 {
	
	font-size: 25px;
	color: #777777;
	display: inline-block;
	padding: 20px;
	
}

.hangman_box {
	margin: 20px;
	width: 200px;
	height: 100px;
	background-color: #ffa07a;
	clear: right;

}

.rpg_box {
	margin: 20px;
	width: 200px;
	height: 100px;
	background-color: #ffa07a;
	clear: left;
}

.trivia_box {
	margin: 20px;
	width: 200px;
	height: 100px;
	background-color: #ffa07a;
	clear: left;
}


.rutgers_box {
	margin: 20px;
	width: 200px;
	height: 100px;
	background-color: #ffa07a;
	clear: left;
}

.rock_box {
	margin: 20px;
	width: 200px;
	height: 100px;
	background-color: #ffa07a;
	clear: left;
}




/**.name_box {
	width: 600px;
	height: 60px;
	background-color: white;
	overflow: hidden;
	float: left;
	padding-left: 20px;
}

.full_name {
	width: 575px;
	height: 30px;
	background-color: white;
	border: 1px solid #DCDCDC;
	overflow: hidden;
	float: left;
	padding-top: 5px;
}

.email_box {
	width: 600px;
	height: 60px;
	background-color: white;
	overflow: hidden;
	float: left;
	padding-left: 20px;
}

.email {
	width: 575px;
	height: 30px;
	background-color: white;
	border: 1px solid #DCDCDC;
	overflow: hidden;
	float: left;
	padding-top: 5px;
}

.msg_box {
	width: 600px;
	height: 300px;
	background-color: white;
	overflow: hidden;
	float: left;
	padding-left: 20px;
}

.msginput {
	width: 575px;
	height: 250px;
	background-color: white;
	border: 1px solid #DCDCDC;
	overflow: hidden;
	float: left;
	
}

.submit_box {
	width: 70px;
	height: 20px;
	background-color: #4aaaa5;
	overflow: hidden;
	float: left;
	padding: 10px;
	margin-left: 20px;

}
**/



.links {
	width: 270px;
	height: 110px;
		background-color: white;
	float: right;
}

.connect h3 {
	font-size: 15px;
	text-align: center;
	padding-top: 5px;

}

.icons {
	padding-top: 5px;
	margin-left: 0 auto;

}

