/**
* My Portfolio
**/


body {
	font-size: 24px;
	margin: 0 auto 0 auto;
	padding: 20px;
	background-color: #cccccc;
}

.header {
	
	background-color: #ffffff;
	overflow: auto;
	width: 960px;
	margin: 0 auto;

}

.header h1 {
	display: inline-block;
	padding: 20px;
	background-color: #4aaaa5;
}

.nav {
	float: right;
	background-color: #ffffff;
	margin-bottom: 0;
	margin-right: 20px;
	color: #333;
	padding: 20px 0px 20px 0px;
}

.nav li {
	display: inline;
}

.header h2 {
	display: inline-block;

}

.content {
		width: 960px;
	margin: 0 auto;
	background-color: white;	
}

.content img {
	float: left;
}


.text {
	float: left;
	width: 650px;
	padding-left: 20px;


}


.links {
	float: right;
}

.footer {
	position: absolute;
	font-color: white;
	text-align: center;
	bottom: 0;
	right: 0;
	left: 0;
	height: 50px;
	background-color: #666666;
	margin: 0 auto;

	
}	